<div style="text-align: center">
    <div class="pragmatic_header_logo">
        <h1>Pragmatics</h1>
    </div>
    <div class="pragmatic_hearder_button">
        <span>nav1</span>
        <span>nav2</span>
        {% if not user.is_authenticate %}
        <span>
            <a href="{% url 'accountapp:login'%}">
            Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                Sign up
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:logout' %}"></a>
            Logout
        </span>
        {% endif %}
    </div>

</div>